@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
#timer {
    font-size: 108px;   
}
#title {
    font-size: 40px;
}
html {
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-family: 'Lexend', sans-serif;
}
#container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
